button {
  padding: 3%;
  border-radius: 10px;
  background-color: #fffcf2;
  border: 1px, solid, black;
  font-size: larger;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  width: 150px;
  height: 55px;
}

button:hover {
  box-shadow: 0 0 11px rgba(54, 54, 54, 0.2);
  cursor: pointer;
}

.landing-page {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  justify-content: center;
  align-items: center;
  padding: 5%;
  margin-left: 20%;
}

.lets-go {
    margin-top: 7%;
}

